.clients {
  padding-bottom: 60px;
  padding-top: 60px;
  @include desktop {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  @include mobile {
    font-size: 28px;
  }

  @include tablet {
  }

  @include desktop {
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  @extend %align-list;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
@include desktop {
    justify-content: space-between;
  }
}

.clients__item {
  width: calc((100% - 60px) / 2);
  height: 92px;
  @include mobile {
    max-width: calc((100% - 60px) / 2);
  }

  @include tablet {
    width: 226px;
  }

  @include desktop {
    font-size: 36px;
    line-height: 1.17;
    width: 170px;
  }
}

.clients-item-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  @extend %align-list;
  justify-content: center;
  background-color: #ffffff;
  fill: var(--ico-color);
  &:hover,
  &:focus {
    background-color: #ffffff;
    border: 1px solid var(--first-color);
    fill: var(--first-color);
  }
}
