.footer-box {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content-centre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  @include tablet {
    align-items: baseline;
    justify-content: space-between;
  }

  @include desktop {
    margin: 0 auto;
    align-items: baseline;
    gap: unset;
  }
}

.logo-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @include desktop {
    align-items: flex-start;
    margin: 0;
  }
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer__contacts {
  display: flex;
  justify-content: center;
  align-content: center;
  .link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    font-style: normal;
  }
}

.footer-contacts-box {
  margin-top: 20px;
}

.contacts__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 8px;
  .gray-link {
    color: rgba(255, 255, 255, 0.6);
  }
  @include desktop {
    align-items: flex-start;
  }
}

.footer {
  & a:hover,
  & a:focus {
    color: var(--first-color);
  }
}

.footer__soc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  @include desktop {
    margin: 0;
    align-items: flex-start;
  }
}

.soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.soc__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.soc__link {
  @extend %align-list;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  &:hover,
  &:focus {
    background-color: var(--first-color);
    fill: #ffffff;
  }
}

.footer__subscribe {
  @extend %align-list;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  @include desktop {
    align-items: flex-start;
    margin: 0;
    width: 570px;
  }
}

.footer__subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  @include desktop {
    margin-bottom: 20px;
  }
}

.footer__subscribe-form {
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  @include tablet {
    width: 450px;
  }
  @include desktop {
    flex-direction: row;
    margin: 0;
    width: 570px;
    gap: 0;
  }
}

.subscribe__input {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  @extend %align-list;
  letter-spacing: 0.03em;
  background-color: transparent;
  display: flex;
  width: 100%;
  height: 50px;
  gap: 12px;
  caret-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: box-shadow, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid #ffffff;
    outline: none;
  }
  &:not(:placeholder-shown) {
    color: #ffffff;
  }
  @include desktop {
    width: 358px;
  }
}

.subscribe__button {
  @extend %align-list;
  justify-content: center;
  color: #ffffff;
  background-color: var(--first-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  @include desktop {
    margin: 0;
    margin-left: 12px;
  }
}

.button-center {
  @extend %align-list;
  justify-content: center;
  gap: 10px;
}

.ico-center {
  @extend %align-list;
  justify-content: center;
}
