.occupation {
  display: none;
  padding-bottom: 94px;
  @include mobile {

  }
  @include tablet {
    
  }
  @include desktop {
    display: block;
  }
}

.occupation__list {
  display: flex;
  column-gap: 30px;
}

.ocupation__item {
  position: relative;
}

.img-des {
  @extend %align-list;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
